# Scrape Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
api=pd.read_csv("data_clean/elements_clean.csv")

In [3]:
scrape=pd.read_csv('playerinfo_week1.csv')

In [4]:
api.head()

,Unnamed: 0,code,element_type,event_points,first_name,form,id,now_cost,points_per_game,second_name,...,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,0,69140,2,1,Shkodran,4.3,1,51,3.2,Mustafi,...,0,0,0,0,1,144,174.2,15.4,107.0,29.8
1,1,98745,2,1,Hector,5.0,2,54,3.4,Bellerin,...,0,2,0,0,3,113,116.6,37.7,38.0,19.4
2,2,111457,2,1,Sead,0.3,3,52,2.1,Kolasinac,...,0,3,0,0,1,222,190.0,157.3,67.0,41.2
3,3,154043,2,0,Ainsley,0.0,4,45,2.6,Maitland-Niles,...,0,3,1,0,3,216,261.8,155.4,37.0,44.9
4,4,39476,2,0,Sokratis,0.0,5,48,2.9,Papastathopoulos,...,0,5,0,0,5,286,431.6,31.8,106.0,57.1

In [5]:
scrape.head()

        Team First Name Last Name Pos  Apps  Min  G  A  Sh90  KP90    xG    xA
0  Liverpool     Divock     Origi   F     1   77  1  0  1.17  2.34  0.26  0.18
1  Liverpool     Virgil  van Dijk   D     1   90  1  0  1.00  0.00  0.11  0.00
2  Liverpool    Mohamed     Salah   F     1   90  1  1  2.00  3.00  0.44  0.31
3  Liverpool    Roberto   Firmino   F     1   89  0  1  4.04  1.01  0.94  0.37
4  Liverpool      James    Milner   S     1    1  0  0  0.00  0.00  0.00  0.00

In [6]:
scrape.fillna('',inplace=True)

In [7]:
scrape["name"]=scrape["First Name"]+" "+scrape["Last Name"]

In [8]:
scrape["name"]=scrape["name"].str.strip()

Above codeblocks creates full names for scraped players

In [9]:
scrape.head()

,Team,First Name,Last Name,Pos,Apps,Min,G,A,Sh90,KP90,xG,xA,name
0,Liverpool,Divock,Origi,F,1,77,1,0,1.17,2.34,0.26,0.18,Divock Origi
1,Liverpool,Virgil,van Dijk,D,1,90,1,0,1.00,0.00,0.11,0.00,Virgil van Dijk
2,Liverpool,Mohamed,Salah,F,1,90,1,1,2.00,3.00,0.44,0.31,Mohamed Salah
3,Liverpool,Roberto,Firmino,F,1,89,0,1,4.04,1.01,0.94,0.37,Roberto Firmino
4,Liverpool,James,Milner,S,1,1,0,0,0.00,0.00,0.00,0.00,James Milner

In [11]:
for i in range(1,28):
    df=pd.read_csv('C:/Users/nath1/Documents/CS/105/project/scrape_players/playerinfo_week'+str(i)+'.csv')
    df.fillna('',inplace=True)
    df["name"]=df["First Name"]+" "+df["Last Name"]
    df["name"]=df["name"].str.strip()
    df["gw"]=i
    df.to_csv('C:/Users/nath1/Documents/CS/105/project/scrape_players_clean/playerinfo_clean_week'+str(i)+'.csv')

save all cleaned scraped data

## Create Map

In [12]:
df_map = api[['id','first_name','second_name']].copy()

In [13]:
df_map['name']=df_map["first_name"]+" "+df_map["second_name"]

In [14]:
df_map.head()

   id first_name       second_name                       name
0   1   Shkodran           Mustafi           Shkodran Mustafi
1   2     Hector          Bellerin            Hector Bellerin
2   3       Sead         Kolasinac             Sead Kolasinac
3   4    Ainsley    Maitland-Niles     Ainsley Maitland-Niles
4   5   Sokratis  Papastathopoulos  Sokratis Papastathopoulos

We develop a mapping dataframe that maps player name to FPL ID. This is difficult because scrape and API data use different names for some players, with no real pattern to this difference.

In [15]:
df_map.drop(["first_name","second_name"], axis=1,inplace=True)

drop map to only id and full name

In [16]:
df_map.head()

   id                       name
0   1           Shkodran Mustafi
1   2            Hector Bellerin
2   3             Sead Kolasinac
3   4     Ainsley Maitland-Niles
4   5  Sokratis Papastathopoulos

In [17]:
df_map.loc[df_map.id==526,"name"]="Adrian"
df_map.loc[df_map.id==189,"name"]="Alisson"
df_map.loc[df_map.id==197,"name"]="Fabinho"
df_map.loc[df_map.id==443,"name"]="Rodri"
df_map.loc[df_map.id==212,"name"]="Ederson"
df_map.loc[df_map.id==114,"name"]="Pedro"
df_map.loc[df_map.id==107,"name"]="Emerson"
df_map.loc[df_map.id==118,"name"]="Jorginho"
df_map.loc[df_map.id==111,"name"]="Kepa"
df_map.loc[df_map.id==402,"name"]="Jonny"
df_map.loc[df_map.id==5,"name"]="Sokratis"
df_map.loc[df_map.id==150,"name"]="Richarlison"
df_map.loc[df_map.id==152,"name"]="Bernard"
df_map.loc[df_map.id==466,"name"]="Joelinton"
df_map.loc[df_map.id==39,"name"]="Bernardo"
df_map.loc[df_map.id==386,"name"]="Chicharito"
df_map.loc[df_map.id==36,"name"]="Jota"
df_map.loc[df_map.id==465,"name"]="Trezeguet"
df_map.loc[df_map.id==428,"name"]="Wesley"
df_map.loc[df_map.id==211,"name"]="Gabriel Jesus"
df_map.loc[df_map.id==161,"name"]="Ben Chilwell"
df_map.loc[df_map.id==159,"name"]="Ricardo Pereira"
df_map.loc[df_map.id==415,"name"]="Joao Moutinho"
df_map.loc[df_map.id==411,"name"]="Rui Patricio"
df_map.loc[df_map.id==414,"name"]="Ruben Neves"
df_map.loc[df_map.id==469,"name"]="Dani Ceballos"
df_map.loc[df_map.id==490,"name"]="Joe Willock"
df_map.loc[df_map.id==504,"name"]="Gabriel Martinelli"
df_map.loc[df_map.id==422,"name"]="Andre Gomes"
df_map.loc[df_map.id==328,"name"]="Oriol Romeu"
df_map.loc[df_map.id==47,"name"]="Mat Ryan"
df_map.loc[df_map.id==55,"name"]="Solly March"
df_map.loc[df_map.id==390,"name"]="Felipe Anderson"
df_map.loc[df_map.id==365,"name"]="Isaac Success"
df_map.loc[df_map.id==357,"name"]="Kiko Femenia"
df_map.loc[df_map.id==22,"name"]="Ahmed Elmohamady"
df_map.loc[df_map.id==470,"name"]="Douglas Luiz"
df_map.loc[df_map.id==274,"name"]="Max Aarons"
df_map.loc[df_map.id==221,"name"]="Fernandinho"
df_map.loc[df_map.id==218,"name"]="Bernardo Silva"
df_map.loc[df_map.id==177,"name"]="Matthew James"
df_map.loc[df_map.id==113,"name"]="Willian"
df_map.loc[df_map.id==618,"name"]="Bruno Fernandes"
df_map.loc[df_map.id==244,"name"]="Fred"
df_map.loc[df_map.id==528,"name"]="Pedro Neto"
df_map.loc[df_map.id==406,"name"]="Ruben Vinagre"
df_map.loc[df_map.id==13,"name"]="Eddie Nketiah"
df_map.loc[df_map.id==106,"name"]="David Luiz"
df_map.loc[df_map.id==623,"name"]="Borja Baston"
df_map.loc[df_map.id==229,"name"]="Diogo Dalot"
df_map.loc[df_map.id==619,"name"]="Daniel Podence"
df_map.loc[df_map.id==518,"name"]="Joao Cancelo"
df_map.loc[df_map.id==450,"name"]="Roberto Jimenez"
df_map.loc[df_map.id==576,"name"]="Emile Smith-Rowe"
df_map.loc[df_map.id==440,"name"]="Angelino"
df_map.loc[df_map.id==473,"name"]="Jesus Vallejo"

This codeblock is necessary to fix all names that are different between API and scraped data. There was no real elegant solution to this issue as there was no identifiable pattern for when the names were different.

In [18]:
df_map.to_csv("map.csv")

saves df_map

## Merge Scrape data with Map

In [19]:
for i in range(1,28):
    df=pd.read_csv('C:/Users/nath1/Documents/CS/105/project/scrape_players_clean/playerinfo_clean_week'+str(i)+'.csv')
    df=pd.merge(df_map,df, how='right', on='name')
    df.drop(['Unnamed: 0'],axis=1,inplace=True)
    df.to_csv('C:/Users/nath1/Documents/CS/105/project/scrape_players_id/playerinfo_id_week'+str(i)+'.csv')

Above code block assigns the id for each player to all scraped player gameweek data

In [20]:
df_all=pd.read_csv('C:/Users/nath1/Documents/CS/105/project/scrape_players_id/playerinfo_id_week1.csv')
for i in range(2,28):
    df_temp=pd.read_csv('C:/Users/nath1/Documents/CS/105/project/scrape_players_id/playerinfo_id_week'+str(i)+'.csv')
    df_all=pd.concat([df_all,df_temp],axis=0)
df_all.drop(['Unnamed: 0'],axis=1,inplace=True)
df_all.to_csv('C:/Users/nath1/Documents/CS/105/project/scrape_players_id/playerinfo_id_week_all.csv')

All csvs combined into one large csv file.